<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    <!--  
		<typeAlias alias="UserDO" type="com.ucf.jrgc.user.passport.dao.data.UserDO" />
		-->
	</typeAliases>

	 <plugins>
        <plugin interceptor="com.ucf.framework.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.ucf.framework.paginator.dialect.OracleDialect"/>
        </plugin>
    </plugins>
	
	<mappers>
	    <!-- 
		<mapper resource="dal/sqlmap/user-mapper.xml" />
		 -->
	</mappers>
	
</configuration>